### PYTHON  SETS ASSIGNMENT

In [19]:
A = {2,4,6,8}
B = {3,8,11,12}
C = {2,3,6,8,9,11}
U = {1,2,3,4,5,6,7,8,9,10} #universal set

In [20]:
# A∩B - all elements common in both sets
intersection = A.intersection(B)
print("The intersection of A and B is:", intersection)

The intersection of A and B is: {8}

In [21]:
#A∪C - All unique elements from both sets
union = A.union(C)
print("The union of A and C is:", union)

The union of A and C is: {2, 3, 4, 6, 8, 9, 11}

In [22]:
#Ac -elements not in A
A_complement = U - A
print("The complement of A is:",A_complement)

The complement of A is: {1, 3, 5, 7, 9, 10}

In [23]:
#(A∪B)c
union_AB = A.union(B)
complement_union = U - union_AB
print("The complement of (A ∪ B) is:", complement_union)

The complement of (A ∪ B) is: {1, 5, 7, 9, 10}

In [24]:
# C complement
C_complement = U - C #calculating complement of C
print(C_complement)

{1, 4, 5, 7, 10}

In [25]:
#B∩C′
intersection_B_C_complement = B.intersection(C_complement) # Calculate the intersection of B and C'
print("The intersection of B and C' is:", intersection_B_C_complement)

The intersection of B and C' is: set()

In [ ]:
#A\B - difference between the sets

set_difference = A - B # Calculate the set difference A / B

print("The set difference A / B is:", set_difference) # Print the result

The set difference A / B is: {2, 4, 6}

In [ ]:
#(C∩A)∪(C∖B) - union of intersection of set C and A  with the set difference of sets C and B

C_inter_A = C.intersection(A) # Calculate the intersection C ∩ A

C_minus_B = C - B # Calculate the set difference C \ B

result = C_inter_A.union(C_minus_B) # Calculate the union of the two results
print("The result of (C ∩ A) ∪ (C \ B) is:", result)

The result of (C ∩ A) ∪ (C \ B) is: {2, 6, 8, 9}

In [29]:
# MARY PETS
Nina = set(["Cat","Dog","Rabbit","Donkey","Parrot", "Goldfish"])
Mary = set(["Dog","Chinchilla","Horse", "Chicken"])
Eve = set(["Rabbit", "Turtle", "Goldfish"])

In [30]:
# Update Eve's pet list by removing the turtle

Eve.discard("Turtle")  # Use discard to safely remove the turtle

print("Updated Eve's pet list:", Eve) # Print the updated pet list for Eve

Updated Eve's pet list: {'Goldfish', 'Rabbit'}

In [31]:
# Update Nina's pet list by adding Mary's pets
Nina.update(Mary)  # Use update to add Mary's pets to Nina's list excluding Eve's pets

print("Updated Nina's pet list:", Nina) # Print the updated pet list for Nina

Updated Nina's pet list: {'Cat', 'Goldfish', 'Chicken', 'Chinchilla', 'Rabbit', 'Horse', 'Dog', 'Parrot', 'Donkey'}

In [ ]:
# Clear Mary's pet list
Mary.clear()  # This will remove all pets from Mary's list

print("Updated Mary's pet list:", Mary) # Print the updated pet list for Mary

Updated Mary's pet list: set()

In [33]:
# Define the original sets
Nina = set(["Cat", "Dog", "Rabbit", "Donkey", "Parrot", "Goldfish"])
Mary = set(["Dog", "Chinchilla", "Horse", "Chicken"])

# Update Nina's pet list by adding Mary's pets
Nina.update(Mary)  # Nina now takes care of both her own and Mary's pets

num_species = len(Nina)# Count the number of unique species Nina is taking care of

# Print the number of unique species
print("Number of unique species Nina is taking care of:", num_species)

Number of unique species Nina is taking care of: 9

In [34]:
# Define the original sets
Nina = set(["Cat", "Dog", "Rabbit", "Donkey", "Parrot", "Goldfish", "Horse", "Chinchilla", "Chicken"])
Eve = set(["Rabbit", "Goldfish"])  # Eve's updated pet list

common_pets = Nina.intersection(Eve) # Identify common pets between Nina and Eve

Nina.difference_update(common_pets) # Update Nina's pet list by removing the common pets

# Print the updated pet list for Nina and the common pets
print("Common pets taken care of by Eve:", common_pets)
print("Updated Nina's pet list:", Nina)

Common pets taken care of by Eve: {'Goldfish', 'Rabbit'}
Updated Nina's pet list: {'Cat', 'Chicken', 'Chinchilla', 'Horse', 'Dog', 'Parrot', 'Donkey'}

### EUROPE DATASET

In [1]:
import pandas as pd ## loads & reads files
 
import numpy as np  ##performs calculations
 
import matplotlib.pyplot as plt ## for visualizations
 
import seaborn as sns ## for statistical visualization e.g histogram

In [2]:
import pandas as pd

# Load Europe and EU
eu = pd.read_excel("C:/Users/admin/Desktop/LUXTECH/PYTHON/PYTHON_ASSIGNMENT1/Europe_and_EU .xlsx", sheet_name = 'EU')
europe = pd.read_excel("C:/Users/admin/Desktop/LUXTECH/PYTHON/PYTHON_ASSIGNMENT1/Europe_and_EU .xlsx", sheet_name = 'Europe') 
eu
europe

,Rank,Country,Population,% of population,Average relative annual growth (%),Average absolute annual growth,Estimated doubling time (Years),Official figure (where available),Date of last figure,Regional grouping,Source
0,1.0,Russia,143964709,17.15,0.19,294285,368,146839993,2017-01-01 00:00:00,EAEU,[1]
1,2.0,Germany,82521653,9.80,1.20,600000,90,82800000,2016-12-31 00:00:00,EU,Official estimate
2,3.0,Turkey,80810000,9.60,1.34,1035000,52,77695904,2016-12-31 00:00:00,NaN,[2]
3,4.0,France,65233271,7.76,0.39,261022,177,66991000,2017-03-01 00:00:00,EU,[3]
4,5.0,United Kingdom,65110276,7.75,0.75,484000,92,66573504,2016-12-30 00:00:00,EU,Official estimate
5,6.0,Italy,59320118,7.21,0.49,298000,141,60788845,2017-01-01 00:00:00,EU,Monthly official estimate
6,7.0,Spain,46397452,5.53,-0.06,-28000,-,46449565,2015-01-01 00:00:00,EU,Official estimate
7,8.0,Ukraine,42895704,5.10,-0.32,-136000,-,42726067,2015-03-01 00:00:00,NaN,Monthly official estimate
8,9.0,Poland,38104832,4.58,0.05,20000,1334,38484000,2014-12-31 00:00:00,EU,Official estimate
9,10.0,Romania,19622000,2.36,-0.41,-81000,-,19942642,2014-01-01 00:00:00,EU,Official estimate
10,11.0,Netherlands,17084459,2.02,0.37,62000,189,17119800,2018-04-15 00:00:00,EU,Official population clock
11,12.0,Belgium,11469204,1.34,0.52,58000,134,11370968,2017-08-01 00:00:00,EU,Monthly official estimate
12,13.0,Greece,11142161,1.28,0.16,-12000,-,10816286,2011-05-24 00:00:00,EU,Final 2011 census result
13,14.0,Czech Republic,10625250,1.25,-0.06,-6000,-,10588063,2017-07-30 00:00:00,EU,Official estimate
14,15.0,Portugal,10291196,1.23,-0.56,-58000,-,10309573,2016-12-31 00:00:00,EU,Official estimate
15,16.0,Sweden,9952186,1.17,1.03,100000,68,10081396,2017-08-31 00:00:00,EU,Official estimate
16,17.0,Hungary,9702671,1.17,-0.28,-28000,-,9849000,2014-12-31 00:00:00,EU,Official estimate
17,18.0,Azerbaijan,9923914,1.15,1.23,117000,57,9810000,2017-01-01 00:00:00,NaN,Official estimate
18,19.0,Belarus,9452113,1.13,0.00,0,-,9481100,2015-04-01 00:00:00,EAEU,Official estimate
19,20.0,Serbia,8762027,0.85,-0.41,-29000,-,7146759,2014-01-01 00:00:00,NaN,Official estimate
20,21.0,Austria,8751820,1.02,0.67,57000,104,8794267,2018-07-01 00:00:00,EU,Official estimate
21,22.0,Switzerland,8544034,0.98,0.87,71000,80,8211700,2014-09-30 00:00:00,EFTA,Official estimate
22,23.0,Bulgaria,7036848,0.86,-0.57,-41000,-,7245677,2013-12-31 00:00:00,EU,Official estimate
23,24.0,Denmark,5745547,0.68,0.48,27000,145,5659715,2015-01-01 00:00:00,EU,Official estimate
24,25.0,Finland,5475000,0.65,0.11,6000,632,5473465,2015-03-31 00:00:00,EU,Monthly official estimate
25,26.0,Slovakia,5426000,0.65,0.13,7000,537,5415949,2014-09-30 00:00:00,EU,Official estimate
26,27.0,Norway,5194000,0.62,1.11,57000,63,5165802,2015-01-01 00:00:00,EFTA,Official estimate
27,28.0,Ireland,4630000,0.55,0.35,16000,200,4761865,2016-04-01 00:00:00,EU,Preliminary 2016 census result
28,29.0,Croatia,4230000,0.50,-0.31,-13000,-,4267558,2012-07-01 00:00:00,EU,Official estimate
29,30.0,Bosnia and Herzegovina,3750000,0.45,-0.64,-24000,-,3791622,2013-10-01 00:00:00,NaN,Preliminary 2013 census result
30,31.0,Georgia,3707000,0.44,-1.23,-46000,-,3729500,2015-01-01 00:00:00,NaN,Official estimate
31,32.0,Moldova,3564000,0.42,0.48,17000,145,3555200,2015-01-01 00:00:00,NaN,Official estimate
32,33.0,Armenia,3010000,0.36,-0.03,-1000,-,3010600,2014-12-31 00:00:00,EAEU,Monthly official estimate
33,34.0,Lithuania,2906000,0.35,-0.85,-25000,-,2912566,2015-04-01 00:00:00,EU,Monthly official estimate
34,35.0,Albania,2887000,0.34,-0.41,-12000,-,2893005,2015-01-01 00:00:00,NaN,Official estimate
35,36.0,Macedonia,2071000,0.25,0.15,3000,478,2069172,2014-12-31 00:00:00,NaN,Official estimate
36,37.0,Slovenia,2065000,0.25,0.15,3000,477,2062731,2014-10-01 00:00:00,EU,Official estimate
37,38.0,Latvia,1979000,0.24,-0.90,-18000,-,1983300,2015-04-01 00:00:00,EU,Monthly official estimate
38,NaN,Kosovo,1867000,0.22,1.08,20000,64,1815606,2012-12-31 00:00:00,NaN,Official estimate
39,39.0,Estonia,1315000,0.16,0.46,6000,152,1315635,2017-01-01 00:00:00,EU,Official estimate
40,40.0,Cyprus,876000,0.10,0.46,4000,151,865900,2012-12-31 00:00:00,EU,Official estimate
41,41.0,Montenegro,620000,0.07,0.00,0,-,620029,2011-04-01 00:00:00,NaN,2011 census result
42,42.0,Luxembourg,570000,0.07,2.52,14000,28,562958,2014-12-31 00:00:00,EU,Official estimate
43,43.0,Malta,425000,0.05,0.47,2000,147,417432,2011-11-20 00:00:00,EU,2011 census result
44,44.0,Iceland,331000,0.04,1.22,4000,57,329100,2015-01-01 00:00:00,EFTA,Official estimate
45,NaN,Jersey (UK),103000,0.01,0.98,1000,71,97857,2011-03-27 00:00:00,NaN,2011 census result
46,NaN,Isle of Man (UK),89000,0.01,1.14,1000,61,84497,2011-03-27 00:00:00,NaN,2011 census result
47,45.0,Andorra,78000,0.01,1.30,1000,54,76949,2014,NaN,Official estimate
48,NaN,Guernsey (UK),66000,0.01,1.54,1000,45,65150,2014-03-31 00:00:00,NaN,Official estimate
49,NaN,Faroe Islands (Denmark),49000,0.01,0.00,0,-,48693,2015-02-01 00:00:00,NaN,Monthly official estimate
50,46.0,Liechtenstein,37000,0.00,0.00,0,-,37370,2014-12-31 00:00:00,EFTA,Official estimate
51,47.0,Monaco,37000,0.00,0.00,0,-,36950,2013-12-31 00:00:00,NaN,Official estimate
52,NaN,Gibraltar (UK),34000,0.00,3.03,1000,23,30001,2012,EU,Official estimate
53,48.0,San Marino,33000,0.00,0.00,0,-,32798,2015-02-28 00:00:00,NaN,Monthly official estimate
54,NaN,Åland Islands (Finland),29000,0.00,0.00,0,-,28666,2013-12-31 00:00:00,EU,Official estimate
55,NaN,Svalbard (Norway),3000,0.00,0.00,0,-,2575,2014-07-01 00:00:00,EFTA,Official estimate
56,49.0,Vatican City,1000,0.00,0.00,0,-,0,2012,NaN,Official estimate

In [11]:
eu.head(3) #first 3 contents  of eu sheet

,Rank,Country,2017 population,% of pop.,Average relative annual growth,Average absolute annual growth,Official figure,Date of last figure,Source
0,1,Germany,82800000,16.18,0.76,628876,82576900,2017-03-31,Official estimate
1,2,France,67210459,13.10,0.40,265557,67174000,2018-01-01,Monthly official estimate
2,3,United Kingdom,65808573,12.86,0.65,428793,65648100,2017-06-30,Official estimate

In [12]:
europe.head(3)#first 3 contents of europe sheet

,Rank,Country,Population,% of population,Average relative annual growth (%),Average absolute annual growth,Estimated doubling time (Years),Official figure (where available),Date of last figure,Regional grouping,Source
0,1.0,Russia,143964709,17.15,0.19,294285,368,146839993,2017-01-01 00:00:00,EAEU,[1]
1,2.0,Germany,82521653,9.80,1.20,600000,90,82800000,2016-12-31 00:00:00,EU,Official estimate
2,3.0,Turkey,80810000,9.60,1.34,1035000,52,77695904,2016-12-31 00:00:00,NaN,[2]

In [7]:
eu.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28 entries, 0 to 27
Data columns (total 9 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Rank                            28 non-null     int64
 1   Country                         28 non-null     object
 2   2017 population                 28 non-null     int64
 3   % of pop.                       28 non-null     float64
 4   Average relative annual growth  28 non-null     float64
 5   Average absolute annual growth  28 non-null     int64
 6   Official figure                 28 non-null     int64
 7   Date of last figure             28 non-null     datetime64[ns]
 8   Source                          28 non-null     object
dtypes: datetime64[ns](1), float64(2), int64(4), object(2)
memory usage: 2.1+ KB

In [8]:
europe.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 57 entries, 0 to 56
Data columns (total 11 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   Rank                                49 non-null     float64
 1   Country                             57 non-null     object
 2   Population                          57 non-null     int64
 3   % of population                     57 non-null     float64
 4   Average relative annual growth (%)  57 non-null     float64
 5   Average absolute annual growth      57 non-null     int64
 6   Estimated doubling time (Years)     57 non-null     object
 7   Official figure (where available)   57 non-null     int64
 8   Date of last figure                 57 non-null     object
 9   Regional grouping                   38 non-null     object
 10  Source                              57 non-null     object
dtypes: float64(3), int64(3), object(5)
memory usage: 5.0+ KB

In [9]:
# Define the set of EU countries
eu_countries = {"Germany","France","United Kingdom","Italy","Spain",
                "Poland","Romania","Netherlands","Belgium","Greece","Czech Republic",
                "Portugal","Sweden","Hungary","Austria","Bulgaria","Denmark","Finland","Slovakia",
                "Ireland","Croatia","Lithuania","Sloveni","Latvia","Estonia","Cyprus","Luxembourg","Malta"}

# Define the set of European countries
european_countries = {"Russia","Germany","Turkey","France","United Kingdom",
                      "Italy","Spain","Ukraine","Poland","Romania","Netherlands","Belgium",
                      "Greece","Czech Republic","Portugal","Sweden","Hungary","Azerbaijan","Belarus","Serbia",
                      "Australia","Switzerland","Bulgaria","Denmark","Finland","Slovakia","Norway","Ireland",
                      "Croatia","Bosnia and Herzegovina","Georgia","Moldova","Armenia","Lithuania","Albania",
                      "Macedonia","Slovenia","Latvia","Kosovo","Estonia","Cyprus","Montenegro","Luxembourg","Malta",
                      "Iceland","Jersey (UK)","Isle of Man (UK)","Andorra","Guernsey (UK)","Faroe Islands (Denmark)",
                      "Liechtenstein","Monaco","Gibraltar (UK)","San Marino","Åland Islands (Finland)","Svalbard (Norway)","Vatican City"}

# Check if EU countries are a subset of European countries
is_subset = eu_countries.issubset(european_countries)

# Print the result
if is_subset:
    print("The EU countries are a subset of the countries in Europe.")
else:
    print("The EU countries are NOT a subset of the countries in Europe.")

The EU countries are NOT a subset of the countries in Europe.

In [10]:
# Find countries that are in Europe but not in the EU
non_eu_countries = european_countries.difference(eu_countries)

# Print the result
print("Countries in Europe but not in the EU:")
print(non_eu_countries)

Countries in Europe but not in the EU:
{'Andorra', 'Switzerland', 'Ukraine', 'Azerbaijan', 'Serbia', 'Belarus', 'Bosnia and Herzegovina', 'Monaco', 'Montenegro', 'Jersey (UK)', 'Albania', 'Moldova', 'Åland Islands (Finland)', 'Svalbard (Norway)', 'Isle of Man (UK)', 'Armenia', 'Vatican City', 'Macedonia', 'Faroe Islands (Denmark)', 'Norway', 'Guernsey (UK)', 'Gibraltar (UK)', 'San Marino', 'Turkey', 'Russia', 'Georgia', 'Liechtenstein', 'Kosovo', 'Australia', 'Slovenia', 'Iceland'}